@import url(../css/reset.css);
@import url(../libs/bootstrap/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url(../libs/superfish/superfish.css);
@import url(../libs/slick_menu/slicknav.css);
@import url(../libs/bxSlider/jquery.bxslider.css);
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #313131; }

.hidden_text {
  display: none; }
  .hidden_text h1 {
    font-size: 54px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-weight: 700; }
  .hidden_text img {
    max-width: 100%; }

header {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  width: 100%; }
  header img {
    max-width: 100%; }

.sf-menu {
  padding-top: 40px; }
  .sf-menu li.active {
    border-bottom: 20px solid #00b9ee; }
  .sf-menu > li {
    margin-bottom: -1px; }
  .sf-menu ul li a {
    font-size: 24px;
    padding: 10px 20px 10px 10px; }
  .sf-menu > li {
    padding: 0 10px 2px; }
    .sf-menu > li a {
      padding: 20px 5px 0;
      font-size: 30px;
      -webkit-transition: 0.5s all;
              transition: 0.5s all; }

.login {
  margin-right: 60px;
  margin-top: 40px; }
  .login a {
    display: inline-block;
    background-color: #00b9ee;
    width: 265px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    border-radius: 6px;
    -webkit-transition: 0.5s all;
            transition: 0.5s all; }
    .login a:hover {
      text-decoration: none;
      background-color: #22ceff; }

.poster {
  background-image: url(../img/poster_bg.jpg);
  background-size: cover;
  position: relative;
  top: 130px; }

.text {
  margin-left: 40px;
  margin-top: 135px;
  margin-bottom: 60px; }
  .text img {
    max-width: 100%; }

.poster_button {
  width: 729px;
  height: 92px;
  line-height: 92px;
  letter-spacing: 3px;
  display: inline-block;
  background-color: #00b9ee;
  text-align: center;
  color: #fff;
  font-size: 30px;
  border-radius: 6px;
  margin-left: 35px;
  margin-bottom: 60px;
  -webkit-transition: 0.5s all;
          transition: 0.5s all; }
  .poster_button:hover {
    text-decoration: none;
    background-color: #22ceff;
    color: #fff; }

.countdown {
  position: relative;
  margin-left: 150px;
  margin-bottom: 70px; }
  .countdown p {
    position: absolute;
    left: 110px;
    top: 23px;
    color: #313131;
    font-weight: 700;
    font-size: 24px; }
    .countdown p span {
      font-size: 27px; }

.right_column {
  position: relative; }
  .right_column img {
    max-width: 100%; }
  .right_column .logos {
    position: absolute;
    top: 35px;
    right: 50px; }

.bottom_text {
  background-color: #313131;
  position: absolute;
  right: 10px;
  bottom: 35px;
  padding: 25px 115px; }
  .bottom_text h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px; }

.wrap_social {
  position: absolute;
  right: -15px;
  top: 150px; }
  .wrap_social .social {
    background-color: #E44486;
    border-radius: 6px;
    padding-bottom: 10px;
    margin-bottom: 20px; }
    .wrap_social .social h3 {
      padding: 30px 10px;
      color: #fff;
      text-align: center;
      font-size: 25px; }
    .wrap_social .social .social-item img {
      width: 80px;
      margin: 0 auto 23px;
      display: block;
      -webkit-transition: 0.5s all;
              transition: 0.5s all; }
      .wrap_social .social .social-item img:hover {
        opacity: 0.6; }

.staps, .spans_review {
  display: block; }

.etabs {
  margin-top: -10px; }
  .etabs li.active {
    border-bottom: 13px solid #ef8593;
    opacity: 0.9; }
  .etabs a {
    color: #fff;
    font-size: 31px;
    text-decoration: none; }
    .etabs a .staps {
      font-weight: 700;
      font-size: 31px;
      padding-top: 25px; }
  .etabs li {
    display: inline-block;
    background-color: #313131;
    padding: 20px 0;
    border-right: 2px solid #fff;
    text-align: center;
    border-bottom: 13px solid #313131;
    -webkit-transition: 0.5s all;
            transition: 0.5s all; }
    .etabs li:nth-of-type(3) {
      border-right: none; }
    .etabs li:hover {
      opacity: 0.9;
      border-bottom: 13px solid #ef8593; }
    .etabs li img {
      max-width: 180px;
      display: block;
      margin: 0 auto; }

#tabs1,
#tabs2,
#tabs3 {
  background-color: #eee; }
  #tabs1 img,
  #tabs2 img,
  #tabs3 img {
    max-width: 100%;
    padding-top: 30px; }

.tabs-container .first_p,
.tabs-container .second_p {
  font-size: 31px; }
.tabs-container .first_p {
  margin: 40px 0; }
.tabs-container .second_p {
  font-weight: 700;
  margin-bottom: 75px; }
.tabs-container .poster_button {
  margin: 0 0 40px; }

.tabs_qwe {
  position: relative;
  top: 130px; }

.reviews {
  position: relative;
  top: 130px;
  padding: 50px 0; }
  .reviews img {
    max-width: 100%; }

.fb_review {
  position: relative; }
  .fb_review h5 {
    font-weight: 700; }
  .fb_review .date {
    margin: 25px 0; }

.divider_right {
  width: 2px;
  height: 100%;
  background-color: #f09dab;
  position: absolute;
  right: 0;
  top: 0; }

.stars {
  color: #f8bb1f;
  margin-bottom: 30px; }

.comment h5 {
  margin-bottom: 5px; }
.comment p {
  margin: 0 0 20px; }

.number {
  float: right;
  color: #bfd007;
  font-weight: 900;
  font-size: 31px; }

footer {
  background-color: #313131;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  top: 130px; }
  footer a, footer h3, footer span, footer p {
    color: #fff; }
  footer p {
    font-size: 18px; }
  footer a {
    font-size: 24px;
    line-height: 24px;
    -webkit-transition: 0.5s all;
            transition: 0.5s all; }
    footer a:hover {
      text-decoration: none;
      color: #ef8593; }
  footer h3 {
    margin-bottom: 30px;
    font-size: 30px; }
  footer span {
    font-size: 20px; }
  footer ul, footer li {
    list-style-type: none; }

.footer_phone {
  padding-top: 50px; }

.footer_logos {
  position: absolute;
  right: 20px;
  top: 20px; }

.footer_chat {
  position: absolute;
  right: 0;
  bottom: 90px; }

.copyright {
  position: absolute;
  left: 10px;
  bottom: 10px; }

.wrap_mobile_menu {
  max-height: calc(100vh - 50px);
  overflow-y: auto; }

/*-------------how-it-works------------------------------- */
.how_it_works {
  background-image: url(../img/how_it_works/bg.jpg);
  background-size: cover;
  position: relative;
  top: 130px;
  text-align: center;
  padding: 90px 0 60px;
  color: #313131;
  font-size: 60px; }

.list {
  position: relative;
  top: 130px;
  padding: 70px 0 60px; }
  .list h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px; }
  .list .pink_color {
    color: #e64587; }
  .list .bold_font {
    font-weight: 700; }
  .list p {
    font-size: 25px; }
  .list .list_item {
    padding-bottom: 30px; }
  .list h4 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 60px; }
  .list .button_align {
    text-align: center;
    margin: 0; }

.hide_on_lg {
  display: none; }

.more,
.hidden__text,
.img_e_wrap {
  display: none; }

.more {
  text-decoration: underline; }

.visible__text {
  display: inline-block; }

.extra {
  position: relative;
  top: 130px;
  padding: 50px 0;
  background-color: #f1a5b2; }
  .extra img {
    max-width: 100%; }
  .extra .img_lips {
    margin: 50px 0 41px; }
  .extra h2 {
    font-size: 36px;
    font-weight: 700; }
  .extra p {
    font-size: 36px; }
  .extra .more,
  .extra .less {
    cursor: pointer; }
  .extra .poster_button {
    margin: 0;
    line-height: 70px;
    height: 70px;
    width: 520px;
    margin-top: 50px; }

.divider_right_extra {
  width: 2px;
  height: 80%;
  background-color: #313131;
  position: absolute;
  right: 0;
  top: 10%; }

.youtube_wrap {
  text-align: center; }
  .youtube_wrap .slider_wrapper {
    max-width: 720px;
    margin: 0 auto; }

/*-------------catalog------------------------------- */
body.body_catalog {
  background-image: -webkit-linear-gradient(top, #fadee3, #f0a0ad);
  background-image: linear-gradient(top, #fadee3, #f0a0ad); }
  body.body_catalog .extra {
    display: none; }
  body.body_catalog .catalog .bx-wrapper .bx-prev {
    display: none; }
  body.body_catalog .catalog .bx-wrapper .bx-next {
    right: -120px;
    background: url(../libs/bxSlider/images/controls1.png) no-repeat -52px 0; }
  body.body_catalog .catalog .bx-wrapper .bx-prev {
    background: url(../libs/bxSlider/images/controls1.png) no-repeat 0 0;
    left: -70px; }
  body.body_catalog .catalog .bx-wrapper .bx-pager {
    display: none; }

.catalog_descr {
  position: relative;
  top: 130px;
  padding-top: 90px; }
  .catalog_descr h2 {
    display: none; }
  .catalog_descr p {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 90px; }

.catalog {
  position: relative;
  top: 130px; }
  .catalog img {
    max-width: 100%; }

.product_title_name {
  position: relative; }
  .product_title_name h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0 0 5px; }

.product_row_slider img {
  border-radius: 6px; }

.newest_product {
  position: relative;
  display: block; }
  .newest_product .poster_button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    margin: 0; }

.tl_container {
  display: block;
  width: 95%;
  position: absolute;
  top: 15px;
  left: 5px; }
  .tl_container img {
    cursor: pointer; }

.tl_text {
  position: absolute;
  top: 35px;
  left: 0;
  visibility: hidden;
  background-color: #313131;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 99999; }
  .tl_text img {
    max-width: 50%; }

.tl_container:hover .tl_text {
  visibility: visible; }

.product_item {
  position: relative; }
  .product_item h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    width: 327px; }

.hid_on_lg {
  position: absolute;
  left: 5px;
  top: 60px;
  width: 50px; }

.newest_description {
  position: relative;
  top: 130px;
  padding-top: 50px; }
  .newest_description .poster_button {
    margin: 0 0 50px 0;
    width: 610px;
    height: 60px;
    line-height: 60px; }

.new_product_image {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 100px; }
  .new_product_image img:nth-of-type(1) {
    max-width: 241px;
    margin-bottom: 70px; }
  .new_product_image img:nth-of-type(2) {
    max-width: 100%; }

.new_product_items .pr_item {
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px; }
.new_product_items img {
  max-width: 100%; }

.new_product_description {
  background-color: #fff;
  padding: 50px 30px;
  position: relative; }
  .new_product_description h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px; }
  .new_product_description p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 24px; }
  .new_product_description h6, .new_product_description h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0; }
  .new_product_description h5 {
    margin-bottom: 30px; }
  .new_product_description img {
    position: absolute;
    bottom: 0;
    right: 0; }
  .new_product_description ul, .new_product_description li {
    list-style-type: none; }
  .new_product_description li {
    margin-bottom: 20px;
    font-size: 20px; }
  .new_product_description i {
    color: #f09dab;
    margin-right: 10px; }

/*-------------product------------------------------- */
body.body_product {
  background-image: -webkit-linear-gradient(top, #fadee3, #f0a0ad);
  background-image: linear-gradient(top, #fadee3, #f0a0ad); }
  body.body_product .catalog {
    display: none;
    padding: 30px 0; }
  body.body_product .mobile_yout_slider .bx-wrapper {
    width: 550px;
    padding: 20px 0; }

.youtube_video_playlist {
  padding: 50px 0 40px;
  background-color: #313131;
  position: relative;
  top: 130px; }
  .youtube_video_playlist .poster_button {
    margin: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 26px; }

.video_wrapper {
  margin-bottom: 30px; }

.img_y_h {
  position: absolute;
  bottom: -40px;
  right: 650px;
  z-index: 1;
  max-width: 642px; }

.product_for_month {
  position: relative;
  top: 130px;
  padding: 60px 0;
  background-color: #fff; }

.slider_products h5 {
  position: absolute;
  bottom: 30px;
  width: 350px;
  font-size: 16px;
  text-align: center; }
.slider_products h6 {
  position: absolute;
  bottom: 0;
  width: 350px;
  color: #f2a8b4;
  font-size: 30px;
  text-align: center; }

.mobile_product {
  display: none;
  position: relative;
  top: 100px; }
  .mobile_product .head_bg {
    max-width: 60%;
    top: 20px;
    position: relative;
    z-index: 1; }
  .mobile_product .new_product_wrap {
    padding: 30px 0;
    background-color: #fff;
    text-align: center; }
    .mobile_product .new_product_wrap img {
      max-width: 100%; }
  .mobile_product .new_product_descr {
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 10px; }
    .mobile_product .new_product_descr h3 {
      font-weight: 700; }
  .mobile_product .mobile_list {
    background-color: #fff;
    padding: 20px 10px;
    position: relative; }
    .mobile_product .mobile_list li {
      font-size: 16px; }
    .mobile_product .mobile_list i {
      color: #f09dab;
      margin-right: 10px; }
    .mobile_product .mobile_list img {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 18%; }
  .mobile_product .mobile_yout_slider {
    background-color: #313131;
    text-align: center;
    padding-bottom: 30px; }
    .mobile_product .mobile_yout_slider .poster_button {
      width: 480px;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      font-size: 20px; }
  .mobile_product .poster_button {
    width: 620px;
    height: 75px;
    line-height: 75px;
    display: block;
    margin: 15px auto;
    font-size: 26px; }
  .mobile_product .mobile_header_youtube {
    position: relative;
    margin-left: 50px;
    z-index: 1;
    top: 20px;
    max-width: 100%; }

@media only screen and (max-width: 2100px) {
  .bottom_text {
    padding: 20px 50px; }

  .img_y_h {
    right: 500px; }

  .slider_products h5, .slider_products h6 {
    width: 300px; } }
@media only screen and (max-width: 1967px) {
  .lips {
    display: none; }

  .poster {
    background-image: url(../img/1.jpg);
    background-size: cover; }

  .extra h2, .extra p {
    font-size: 32px; } }
@media only screen and (max-width: 1920px) {
  .new_product_description h3, .new_product_description p {
    margin-bottom: 15px; }

  .img_y_h {
    right: 400px;
    max-width: 550px; }

  body.body_product .newest_description .poster_button {
    width: 500px; }

  .slider_products h5, .slider_products h6 {
    width: 286px; }
  .slider_products h5 {
    font-size: 14px; }
  .slider_products h6 {
    font-size: 24px; } }
@media only screen and (max-width: 1834px) {
  .extra h2, .extra p {
    font-size: 28px; }
  .extra .img_youtube_head {
    max-width: 55%; } }
@media only screen and (max-width: 1770px) {
  .poster {
    background-image: url(../img/2.jpg);
    background-size: cover; }
    .poster .poster_button {
      width: 600px; }

  .youtube_wrap .slider_wrapper {
    max-width: 660px; } }
@media only screen and (max-width: 1700px) {
  header img {
    padding-top: 30px; }

  .login {
    margin-right: 0; }
    .login a {
      width: 220px; }

  .bottom_text {
    bottom: 10px;
    padding: 10px 30px; }
    .bottom_text h2 {
      font-size: 24px; } }
@media only screen and (max-width: 1680px) {
  .new_product_description {
    padding: 30px; }
    .new_product_description h3, .new_product_description p {
      margin-top: 0; }
    .new_product_description li {
      margin-bottom: 5px; }

  .newest_description .poster_button {
    margin-top: 30px; }

  body.body_catalog .catalog .bx-wrapper .bx-next {
    right: -90px; }

  .img_y_h {
    right: 350px;
    max-width: 500px; }

  .slider_products h5, .slider_products h6 {
    width: 250px; }
  .slider_products h5 {
    font-size: 12px; }
  .slider_products h6 {
    font-size: 24px; } }
@media only screen and (max-width: 1587px) {
  .extra h2, .extra p {
    font-size: 25px; }
  .extra .img_lips {
    margin: 30px 0 20px; }
  .extra .poster_button {
    font-size: 22px;
    width: 380px;
    height: 50px;
    line-height: 50px; }

  .youtube_wrap .slider_wrapper {
    max-width: 550px; }
    .youtube_wrap .slider_wrapper iframe {
      height: 345px; }

  .slider_products h5, .slider_products h6 {
    width: 230px; } }
@media only screen and (max-width: 1500px) {
  .poster {
    background-image: url(../img/3.jpg);
    background-size: cover; }
    .poster .poster_button {
      width: 500px; }

  .countdown {
    margin-left: 50px; }

  .etabs a {
    font-size: 24px; }
    .etabs a .staps {
      font-size: 24px; }

  .img_y_h {
    right: 140px; }

  .slider_products h5 {
    font-size: 11px; } }
@media only screen and (max-width: 1440px) {
  .login {
    margin-right: 0; }
    .login a {
      width: 150px;
      height: 50px;
      line-height: 50px;
      font-size: 22px; }

  .sf-menu li.active {
    border-bottom: 10px solid #00b9ee; }
  .sf-menu > li a {
    font-size: 22px; }
  .sf-menu ul li a {
    font-size: 18px; }

  .wrap_social {
    top: 200px;
    width: 140px; }
    .wrap_social .social h3 {
      font-size: 20px;
      padding: 15px 10px; }
    .wrap_social .social .social-item img {
      width: 60px; }

  .poster {
    background-position: -10px 0; }

  .etabs li img {
    max-width: 140px; }

  .tabs-container .first_p,
  .tabs-container .second_p {
    font-size: 22px; }
  .tabs-container .poster_button {
    width: 400px;
    height: 70px;
    line-height: 70px;
    font-size: 24px; }

  footer h3 {
    font-size: 24px; }
  footer a {
    font-size: 18px;
    line-height: 18px; }
  footer span {
    font-size: 16px; }

  .poster,
  .tabs_qwe,
  .reviews,
  footer,
  .how_it_works,
  .list,
  .extra,
  .catalog_descr,
  .catalog,
  .newest_description {
    top: 107px; }

  .how_it_works {
    padding: 30px 0 20px; }

  .extra .img_youtube_head {
    max-width: 55%; }
  .extra h2, .extra p {
    font-size: 20px; }

  .youtube_wrap .slider_wrapper {
    max-width: 450px; }
    .youtube_wrap .slider_wrapper iframe {
      height: 260px; }

  .catalog_descr {
    padding-top: 50px; }
    .catalog_descr p {
      margin-bottom: 50px; }

  body.body_catalog .catalog .bx-wrapper .bx-next {
    right: -70px; }

  .product_item h4 {
    font-size: 12px; }

  .new_product_description h3, .new_product_description h6, .new_product_description h5, .new_product_description p, .new_product_description li {
    font-size: 14px; }
  .new_product_description li {
    margin-bottom: 0; }
  .new_product_description p {
    margin-bottom: 3px;
    line-height: 22px; }
  .new_product_description h5 {
    margin-bottom: 10px;
    margin-top: 0; }
  .new_product_description h6 {
    margin-top: 0; }
  .new_product_description img {
    width: 30%; }

  .newest_description .poster_button {
    margin-top: 30px;
    width: 550px;
    height: 70px;
    line-height: 70px; }

  .new_product_image {
    padding: 50px 0 40px; }
    .new_product_image img:nth-of-type(1) {
      max-width: 150px;
      margin-bottom: 30px; }
    .new_product_image img:nth-of-type(2) {
      max-width: 270px; }

  .video_wrapper iframe {
    height: 360px; }

  .playlist_wrapper iframe {
    height: 440px; }

  .slider_products h5, .slider_products h6 {
    width: 210px; }
  .slider_products h5 {
    font-size: 10px;
    bottom: 20px; }
  .slider_products h6 {
    font-size: 20px;
    bottom: -5px; } }
@media only screen and (max-width: 1341px) {
  .youtube_wrap .slider_wrapper iframe {
    height: 300px; }

  .slider_products h5, .slider_products h6 {
    width: 190px; }
  .slider_products h5 {
    font-size: 9px; }
  .slider_products h6 {
    font-size: 17px; } }
@media only screen and (max-width: 1324px) {
  .poster {
    background-position: -10px 0; }
    .poster .poster_button {
      width: 420px; }

  .countdown {
    margin-left: 10px; }

  body.body_product .newest_description .poster_button {
    width: 400px;
    font-size: 24px; } }
@media only screen and (max-width: 1324px) {
  .poster {
    background-position: -45px 0; }

  .new_product_image img:nth-of-type(2) {
    max-width: 100%; }

  .product_item h4 {
    font-size: 11px; }

  .catalog_descr p {
    font-size: 20px; }

  .slider_products h5 {
    font-size: 8px; } }
@media only screen and (max-width: 1199px) {
  .poster {
    background-image: url(../img/poster_bg.jpg);
    background-size: cover; }
    .poster .poster_button {
      margin: 15px 0; }

  .text img {
    display: none; }

  .right_column .logos {
    display: none; }

  .bottom_text {
    position: static;
    text-align: center; }

  .countdown {
    float: right;
    margin-top: 15px; }

  .text {
    margin: 0; }

  .hidden_text {
    display: block; }

  .etabs a {
    font-size: 18px; }
    .etabs a .staps {
      font-size: 18px; }
  .etabs li img {
    max-width: 100px; }

  .tabs-container .first_p {
    margin: 15px 0; }
  .tabs-container .second_p {
    margin-bottom: 30px; }

  .reviews h5, .reviews h6, .reviews .date, .reviews .hz, .reviews i, .reviews .number, .reviews .comment {
    font-size: 12px; }

  .extra h2, .extra p {
    font-size: 18px; }

  footer p {
    font-size: 14px; }
  footer a {
    font-size: 14px;
    line-height: 14px; }
  footer h3 {
    margin-bottom: 10px;
    font-size: 18px; }
  footer span {
    font-size: 14px; }
  footer .copyright {
    font-size: 12px; }

  .footer_chat {
    bottom: 30px; }

  .footer_phone img {
    max-width: 50px; }

  .extra .poster_button {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px; }

  .youtube_wrap .slider_wrapper {
    max-width: 370px; }
    .youtube_wrap .slider_wrapper iframe {
      height: 280px; }

  .new_product_description p {
    line-height: 17px; }

  .newest_description .poster_button {
    margin-top: 30px;
    width: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 20px; }

  .product_item h4 {
    font-size: 10px; }

  .img_y_h {
    max-width: 450px;
    bottom: -55px; }

  .video_wrapper iframe {
    height: 300px; }

  .playlist_wrapper iframe {
    height: 380px; }

  .youtube_video_playlist .poster_button {
    font-size: 20px; }

  .slider_products h5, .slider_products h6 {
    width: 170px; }
  .slider_products h5 {
    bottom: 12px;
    text-align: left; }
  .slider_products h6 {
    font-size: 15px; } }
@media only screen and (max-width: 1078px) {
  .hidden_text h1 {
    font-size: 48px; }

  .extra h2, .extra p {
    font-size: 16px; }

  .product_item h4 {
    font-size: 9px; }

  .slider_products h5, .slider_products h6 {
    width: 150px; }
  .slider_products h5 {
    font-size: 7px; }

  .new_product_description h3, .new_product_description h6, .new_product_description h5, .new_product_description p, .new_product_description li {
    font-size: 13px; } }
@media only screen and (max-width: 991px) {
  body.body_catalog .extra {
    display: block;
    border-bottom: 8px solid #f1a5b2; }

  .dn_on_mobile {
    display: none; }

  header img {
    padding-top: 0; }

  .login {
    margin-top: 25px; }

  .sf-menu {
    display: none; }

  .tac {
    text-align: center; }

  .countdown {
    float: none;
    margin-bottom: 0; }
    .countdown p {
      position: relative;
      top: -65px;
      left: 50px; }

  .etabs a .staps {
    padding-top: 0; }
  .etabs li {
    padding: 0; }
    .etabs li img {
      display: none; }

  #tabs1 img,
  #tabs2 img,
  #tabs3 img {
    display: none; }

  .nopadding {
    padding: 0; }

  .tabs-container {
    text-align: center; }

  .divider_right,
  .divider_right_extra {
    display: none; }

  .divider_bottom {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: #313131;
    width: 80%;
    height: 2px; }

  .fb_widjet {
    padding-top: 15px; }

  .footer_logos, .footer_chat {
    display: none; }

  footer {
    padding: 30px 0; }

  .copyright {
    position: static;
    text-align: center; }

  .poster,
  .tabs_qwe,
  .reviews,
  footer,
  .how_it_works,
  .list,
  .extra,
  .catalog_descr,
  .catalog,
  .newest_description,
  .mobile_product {
    top: 100px;
    padding: 0; }

  .hide_on_lg {
    display: block; }

  .list {
    text-align: center; }
    .list .list_item {
      padding-bottom: 0; }
    .list .poster_button {
      margin: 0;
      width: 520px;
      height: 70px;
      line-height: 70px;
      font-size: 28px;
      margin-bottom: 30px; }

  .extra h2 {
    font-size: 26px; }
  .extra p {
    font-size: 22px; }
  .extra .img_youtube_head {
    max-width: 45%; }
  .extra .poster_button {
    margin-bottom: 20px; }

  .youtube_wrap {
    background-color: #313131; }
    .youtube_wrap .poster_button {
      margin-top: 20px;
      margin-bottom: 30px; }
    .youtube_wrap .slider_wrapper {
      max-width: 70%;
      padding-top: 20px; }

  .bgc_fff {
    background-color: #fff; }

  .img_y_wrap {
    background-color: #f1a5b2; }

  .img_e_wrap {
    display: block;
    text-align: center;
    background-color: #f1a5b2;
    padding: 30px 0 0; }
    .img_e_wrap img {
      width: 420px; }

  .catalog_descr {
    padding-top: 30px; }
    .catalog_descr h2 {
      display: block; }
    .catalog_descr p {
      margin-bottom: 30px; }

  body.body_catalog .newest_description {
    display: none; }
  body.body_catalog .catalog .bx-wrapper .bx-prev,
  body.body_catalog .catalog .bx-wrapper .bx-pager {
    display: block; }
    body.body_catalog .catalog .bx-wrapper .bx-prev.bx-default-pager a,
    body.body_catalog .catalog .bx-wrapper .bx-pager.bx-default-pager a {
      background: #f92d75; }
      body.body_catalog .catalog .bx-wrapper .bx-prev.bx-default-pager a.active,
      body.body_catalog .catalog .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #313131; }

  .product_title_name {
    display: none; }

  .product_item h4 {
    font-size: 20px; }

  .catalog_descr img {
    max-width: 100%; }

  body.body_product .newest_description,
  body.body_product .youtube_video_playlist,
  body.body_product .product_for_month {
    display: none; }
  body.body_product .mobile_product,
  body.body_product .catalog {
    display: block; } }
@media only screen and (max-width: 962px) {
  .hidden_text h1 {
    font-size: 42px; } }
@media only screen and (max-width: 845px) {
  .hidden_text h1 {
    font-size: 36px; }

  .mobile_product .mobile_list img {
    max-width: 21%; } }
@media only screen and (max-width: 792px) {
  .extra h2 {
    font-size: 22px; }
  .extra p {
    font-size: 18px; } }
@media only screen and (max-width: 768px) {
  header img {
    padding-top: 8px; }

  .login {
    margin-top: 20px; }

  .wrap_social {
    width: 110px;
    top: 140px; }

  .comment h5, .comment p {
    margin: 0 0 5px 0; }

  .stars {
    margin-bottom: 0; }

  .fb_review .date {
    margin: 0; }

  .reviews img {
    margin: 0 auto;
    display: block; }

  .fb_review {
    padding-bottom: 20px; }

  .footer_ul, .footer_phone {
    width: 100%;
    text-align: center; }

  .extra .poster_button {
    margin-top: 20px; }
  .extra .img_lips {
    margin: 0; }

  .img_e_wrap img {
    width: 320px; }

  .bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: 34px; }
  .bx-wrapper .bx-next {
    background-position: -52px -59px;
    right: -50px; }
  .bx-wrapper .bx-prev {
    left: -50px;
    background-position: -22px -59px; }

  body.body_catalog .catalog .bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: 34px; }
  body.body_catalog .catalog .bx-wrapper .bx-next {
    background-position: -52px -59px;
    right: -50px; }
  body.body_catalog .catalog .bx-wrapper .bx-prev {
    left: -50px;
    background-position: -22px -59px; }

  .catalog_descr {
    padding: 0; }
    .catalog_descr h2 {
      margin: 0;
      font-size: 26px; }
    .catalog_descr p {
      font-size: 16px;
      line-height: 20px; }

  .mobile_product .poster_button {
    width: 400px;
    height: 60px;
    line-height: 60px;
    font-size: 20px; }
  .mobile_product .mobile_yout_slider .poster_button {
    width: 330px; }

  body.body_product .mobile_yout_slider .bx-wrapper {
    width: 450px; }
    body.body_product .mobile_yout_slider .bx-wrapper iframe {
      height: 300px; } }
@media only screen and (max-width: 729px) {
  .hidden_text h1 {
    font-size: 30px; }

  .mobile_product .mobile_header_youtube {
    max-width: 70%; } }
@media only screen and (max-width: 678px) {
  .extra h2 {
    font-size: 18px; }
  .extra p {
    font-size: 16px; }

  .mobile_product .head_bg {
    top: 15px; }
  .mobile_product .new_product_wrap img {
    max-width: 45%; } }
@media only screen and (max-width: 612px) {
  .hidden_text h1 {
    font-size: 24px; }

  header img {
    padding-top: 15px; }

  .login a {
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 18px; }

  .list .poster_button {
    margin: 0;
    width: 350px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-bottom: 30px; }

  body.body_product .mobile_yout_slider .bx-wrapper {
    width: 60%; }

  .mobile_product .mobile_yout_slider .poster_button {
    width: 380px; } }
@media only screen and (max-width: 564px) {
  .extra h2 {
    font-size: 16px; }
  .extra p {
    font-size: 14px; } }
@media only screen and (max-width: 516px) {
  .poster,
  .tabs_qwe,
  .reviews,
  footer,
  .how_it_works,
  .list,
  .extra,
  .catalog_descr,
  .catalog,
  .newest_description,
  .mobile_product {
    top: 70px; } }
@media only screen and (max-width: 507px) {
  .extra h2 {
    font-size: 14px; } }
@media only screen and (max-width: 496px) {
  .hidden_text h1 {
    font-size: 20px; } }
@media only screen and (max-width: 479px) {
  header img {
    padding-top: 20px; }

  .wrap_social {
    opacity: 0.8; }

  .countdown img {
    display: none; }
  .countdown p {
    top: 0;
    left: 0;
    font-size: 18px; }

  .login a {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px; }

  .slicknav_btn {
    right: 20px; }

  .wrap_social {
    display: none; }

  .poster .poster_button {
    height: 75px;
    line-height: 75px;
    font-size: 18px;
    width: 300px; }

  .etabs a {
    font-size: 14px; }
    .etabs a .staps {
      font-size: 14px; }

  .tabs-container .first_p,
  .tabs-container .second_p {
    font-size: 18px; }
  .tabs-container .poster_button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px; }

  .footer_phone {
    font-size: 10px; }

  .how_it_works {
    padding: 25px; }
    .how_it_works h1 {
      font-size: 28px; }

  .list {
    padding: 20px 0; }
    .list img {
      max-width: 100px; }
    .list p {
      font-size: 14px; }
    .list h4 {
      margin-bottom: 10px;
      font-size: 18px; }
    .list h3 {
      font-size: 18px; }
    .list .poster_button {
      margin: 0;
      width: 270px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      margin-bottom: 30px; }

  .extra h2, .extra p {
    font-size: 12px; }
  .extra .poster_button {
    width: 210px;
    height: 30px;
    line-height: 30px;
    font-size: 12px; }

  .youtube_wrap .slider_wrapper iframe {
    height: 240px; }

  .img_e_wrap img {
    width: 200px; }

  .tokyo_img {
    padding-top: 40px; }

  .catalog_descr {
    padding-top: 20px; }
    .catalog_descr p {
      font-size: 13px;
      line-height: 17px; }
    .catalog_descr h2 {
      font-size: 20px; }

  body.body_catalog .catalog .bx-wrapper .bx-next,
  body.body_product .catalog .bx-wrapper .bx-next {
    right: 2px; }
  body.body_catalog .catalog .bx-wrapper .bx-prev,
  body.body_product .catalog .bx-wrapper .bx-prev {
    left: 2px; }

  .mobile_product .mobile_list li {
    font-size: 13px; }
  .mobile_product .mobile_header_youtube {
    top: 15px; }
  .mobile_product .poster_button {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 14px; }
  .mobile_product .mobile_yout_slider .poster_button {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 14px; }
  .mobile_product .head_bg {
    top: 10px;
    max-width: 65%; } }
@media only screen and (max-width: 418px) {
  .hidden_text h1 {
    font-size: 18px; }

  .how_it_works {
    padding: 15px; }
    .how_it_works h1 {
      font-size: 22px; } }
@media only screen and (max-width: 394px) {
  .extra h2 {
    font-size: 10px; } }
@media only screen and (max-width: 379px) {
  .hidden_text h1 {
    font-size: 16px; } }
@media only screen and (max-width: 340px) {
  .hidden_text h1 {
    font-size: 14px; }

  .extra h2 {
    font-size: 9px; } }

/*# sourceMappingURL=main.css.map */